<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="cg.appSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <cg.appSettings>
    <add key="DBConnection" value="" />
    <add key="OmittedTables" value="sysdiagrams"/>
    <add key="IncludedTables" value=""/>
  </cg.appSettings> 
</configuration>