<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="cg.appSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <cg.appSettings>
    <add key="OmittedTables" value="sysdiagrams"/>
  </cg.appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=KA-APPSRV;Initial Catalog=DAGUnitTest;User ID=Framework;Password=Framework7890" />
  </connectionStrings>
</configuration>